In [ ]:
###Machine learning algotrhms
# 1. Supervised learning : I/P columns and O/P columns with labels
# 2. Unsupervised lerning : Cannot define which is Input and Output column , we will create groups

In [4]:
import os
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [5]:
os.chdir(r'C:\Users\palak\Dropbox\My PC (LAPTOP-MV16FDS6)\Downloads')
df = pd.read_excel('data (1).xlsx', sheet_name = 'iris')
df.head()

   Sepal_length  Sepal_width  Petal_length  Petal_width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [18]:
## regression modelling 
# splitting the data into 4 parts:

x_train , x_test , y_train, y_test = train_test_split(df.drop('HeatFlux',axis = 1), df['HeatFlux'], test_size = 0.25)

In [19]:
x_train

     East  South  North
23  35.26  35.90  19.05
2   34.66  37.31  17.66
0   33.53  40.55  16.66
28  37.20  36.27  16.71
3   33.13  32.52  17.50
14  34.32  37.89  16.62
19  35.77  35.40  15.70
1   36.50  36.19  16.46
11  35.04  35.22  15.92
15  31.08  37.71  17.37
22  35.07  36.34  18.12
21  37.82  36.26  17.62
25  35.73  33.16  16.02
16  35.73  37.00  18.12
4   35.75  33.71  16.40
7   35.38  35.89  15.93
5   34.46  34.14  16.28
17  34.11  36.76  18.53
18  34.79  34.62  15.54
8   35.85  33.53  16.60
13  32.20  37.60  16.19

In [21]:
regr = linear_model.LinearRegression()

In [22]:
regr.fit(x_train,y_train)

LinearRegression()

In [24]:
y_pred = regr.predict(x_test)

In [25]:
y_pred

array([268.93204353, 271.12887902, 261.34858515, 239.39250062,
       260.28562745, 265.26398012, 250.91761589, 262.0216756 ])

In [26]:
y_test

12    267.3
27    265.8
20    267.4
24    227.5
10    258.0
26    263.0
9     239.3
6     263.9
Name: HeatFlux, dtype: float64

In [ ]:
#### 19th feb 2021 ############ Decision tree classifier

In [6]:
colnames = list(df.columns)

In [7]:
pred_cols = colnames[:4]

In [8]:
resp_cols = colnames[4]

In [9]:
pred_cols

['Sepal_length', 'Sepal_width', 'Petal_length', 'Petal_width']

In [10]:
resp_cols

'Species'

In [11]:
x_train, x_test, y_train,y_test = train_test_split(df.drop('Species', axis =1),df['Species'],test_size = 0.2)

In [12]:
clf = DecisionTreeClassifier()

In [14]:
# create the model
mod1 = clf.fit(x_train,y_train)

In [16]:
# predictiions
y_pred = mod1.predict(x_test)

In [17]:
from sklearn.metrics import confusion_matrix

In [19]:
confusion_matrix(y_test, y_pred)

array([[ 6,  0,  0],
       [ 0, 14,  1],
       [ 0,  1,  8]], dtype=int64)

In [1]:
################# 20th feb 2021 ###################################