In [ ]:
# Mathematical operations

In [ ]:
# 3 different varibales
# 1. Number
# 2. String
# 3. logical or boolean

In [ ]:
### Type 1. Number 
# x = 7 
# type can be integer( + or - but not decimal) or float (+ or - and decimal)
# Integer and float can be operated together

### Type 2. String
# can be in single or double quotes
#d =  "sudeep's session"
#d = "Sedeep\'s session" # \ is used to bypass the symbol ( for example in this case appostrope and will not result in error)

### Type 3. Logical 
# option = True ( first letter should be in caps)

In [ ]:
# to take any input from user
# for example : passport number from any user is 
# P_no = input("Please enter your Passport number")   # the type of input command output will always be a string

# we need to explictly convert it to other form
user_age = int(input("Enter salary "))

In [ ]:
user_age

In [1]:
x = " sudeep "

In [2]:
print(x)

 sudeep

In [3]:
#### 5th January 2021 ### 1. list , manipulation of lists

In [4]:
x = [6,8,4,9]

In [5]:
type(x)

list

In [6]:
len(x)

4

In [7]:
y = x[2]  # storing in y

4

In [8]:
x[2] = 7  # to replace a particular values

In [9]:
x

[6, 8, 7, 9]

In [10]:
x[-3]

8

In [17]:
#  3 ways of addition in list 
# 1. append : for single value
# 2. concatenation-create another list- for multiple values OR extend command
# 3. Insert command - mention postion/index no alongwith number you want to insert at a particular position

In [11]:
x.append(5) # always add element to the last position

In [12]:
x

[6, 8, 7, 9, 5]

In [13]:
new_values = [1,7,10]

In [14]:
x+new_values

[6, 8, 7, 9, 5, 1, 7, 10]

In [15]:
x.insert(3,12)

In [16]:
x

[6, 8, 7, 12, 9, 5]

In [18]:
z = [2,6,6]

In [19]:
x.extend(z)

In [20]:
x

[6, 8, 7, 12, 9, 5, 2, 6, 6]

In [21]:
# Removing values from the list
#1.del command: removig num from a particular postion ( permanemtly delete)
#2.pop command : remove a value but that will store/retain in a particluaer variable
# for both the above commands, you know the index which got remove
#3.Remove commmand :

In [22]:
del x[4]

In [23]:
x

[6, 8, 7, 12, 5, 2, 6, 6]

In [24]:
y = x.pop(4)

In [25]:
y

5

In [26]:
x.insert(4,y)

In [27]:
x

[6, 8, 7, 12, 5, 2, 6, 6]

In [28]:
# prepare an empty list

In [29]:
rem_x = []

In [30]:
rem_x.append(x.pop(4))

In [31]:
rem_x

[5]

In [32]:
rem_x.append(x.pop(6))

In [33]:
rem_x

[5, 6]

In [34]:
## remove command
x.remove(2)

In [35]:
x

[6, 8, 7, 12, 6]

In [36]:
# but if we want to remove 6 then only first one will get remove

In [37]:
x.remove(6)

In [38]:
x

[8, 7, 12, 6]

In [39]:
x.count(6)

1

In [41]:
y = sorted(x) # sort in an ascending order

In [42]:
y

[6, 7, 8, 12]

In [45]:
sorted(x, reverse= True) # in descending order

[12, 8, 7, 6]

In [46]:
### string values in a list

In [47]:
places = ['Delhi','Mumbai','Raipur']

In [48]:
sorted(places)

['Delhi', 'Mumbai', 'Raipur']

In [ ]:
### nested lists

In [49]:
nested_list = [3,6,[2,8,6],7]

In [50]:
len(nested_list)

4

In [52]:
nested_list[2][0] = 7

In [ ]:
###### 6th Jan session #############

In [ ]:
# slicing of list 
# to extact multiple items

In [1]:
x = [5,9,3,6,7,2,8,1,5,4,9]

In [2]:
x[3:7]

[6, 7, 2, 8]

In [3]:
x[:4]

[5, 9, 3, 6]

In [4]:
x[0:4]

[5, 9, 3, 6]

In [5]:
## how to create special lists

In [6]:
x = list(range(20,36))  # save the manual efforts

In [7]:
x

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]

In [8]:
x = list(range(3,31,3))

In [9]:
x

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
#### reverse order list

In [10]:
x =list(range(40,5,-2))

In [11]:
x

[40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6]

In [12]:
x = list(range(9))

In [13]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
len(x)

9

In [ ]:
################## 2. data strcuture - tuple################

In [15]:
### 1. tuple

In [16]:
list_1 = [8,7,5,9]
r = (8,7,5,9)

In [17]:
r[2]

5

In [18]:
list_1[2] = 2 # can do add, modify or delete

In [19]:
r[2] = 2  ## cannot make changes in a tuple

TypeError: 'tuple' object does not support item assignment

In [20]:
########### 3. dictionary ################33

In [21]:
students = {"Suneesh": "Statistics" , "Palak" : "MLPython" ,"Ankur" : "sixsigma"}

In [22]:
len(students)

3

In [23]:
students[0]   # indexing doesnt work with dictionary

KeyError: 0

In [24]:
students["Palak"]

'MLPython'

In [25]:
students["Ankur"] = "PMP"

In [26]:
students

{'Suneesh': 'Statistics', 'Palak': 'MLPython', 'Ankur': 'PMP'}

In [27]:
del students['Ankur']

In [28]:
students

{'Suneesh': 'Statistics', 'Palak': 'MLPython'}

In [29]:
students['Kavita'] = 'PMP'

In [30]:
students

{'Suneesh': 'Statistics', 'Palak': 'MLPython', 'Kavita': 'PMP'}

In [31]:
#### mutliple values of a key

In [32]:
students["Palak"] = ['MLPython','Excel']

In [33]:
students  # multiple values will always stored in list

{'Suneesh': 'Statistics', 'Palak': ['MLPython', 'Excel'], 'Kavita': 'PMP'}

In [34]:
################# Nested dictionaries

In [35]:
students['Palak'] = {"Professional" : ["MLPython","Excel"] , "Sprititual" : "Geeta" }

In [36]:
students

{'Suneesh': 'Statistics',
 'Palak': {'Professional': ['MLPython', 'Excel'], 'Sprititual': 'Geeta'},
 'Kavita': 'PMP'}

In [ ]:
############## 7th Jan 2021#####################

In [ ]:
#1 . SET 
# indexing , position and location doesn't matter in set

In [1]:
x = {6,4,3,6,7,8,9}

In [2]:
type(x)

set

In [3]:
x[3]    # indexing will not work in sets

TypeError: 'set' object does not support indexing

In [4]:
x.add(10)   # cannot change the value but add or delete the value

In [5]:
x

{3, 4, 6, 7, 8, 9, 10}

In [6]:
x.discard(6)            # discard and remove are almost same and remove values from set, but remove will give an error if the value doesn't exist

In [7]:
x

{3, 4, 7, 8, 9, 10}

In [8]:
x. remove(18)

KeyError: 18

In [9]:
## frozen set : no operation can be performed , immutable set

In [10]:
setA = {1,2,3,4,5,6}

In [11]:
setB = {3,4,5,6,7,8,9,20,22}

In [ ]:
# 1. union operation 'OR'

In [12]:
setA.union(setB)   # command one for union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 20, 22}

In [13]:
setA|setB        # another way of doing the union usinf pipe symbol

{1, 2, 3, 4, 5, 6, 7, 8, 9, 20, 22}

In [ ]:
# 2. intersextion

In [14]:
setA.intersection(setB)  # type-1

{3, 4, 5, 6}

In [15]:
setA&setB   # type-2

{3, 4, 5, 6}

In [ ]:
# left-join and right-join

In [16]:
setA.difference(setB)  #left

{1, 2}

In [18]:
setA-setB # type -2 of left join

{1, 2}

In [17]:
setB.difference(setA) # right

{7, 8, 9, 20, 22}

In [ ]:
## subsetting

In [20]:
setC = {3,4}

In [21]:
setC < setA    # to check if c is the subset of set A

True

In [ ]:
### logical values operations

In [22]:
a = True

In [23]:
b = False

In [25]:
c = 9>14
c

False

In [ ]:
#######################################programming #########################################
#1. conditional statements ( take decisions based on conditions)
#2.

In [27]:
wt = float(input("Enter the weight of your baggage "))
 
if wt>15:
    excess_wt = wt - 15
    amt = excess_wt * 20
    print("Please pay USD",amt,"for the excess baggage")

Enter the weight of your baggage 12