In [1]:
# Sample statistic =  Population parameter + Bias + Chance variation

In [1]:
import scipy

In [14]:
from scipy import stats

In [15]:
from scipy.stats import t

In [16]:
stats.t.interval(0.95,999,21000,2000/1000**0.5)  # T idtribution have to be followed in case of sample size < 30 
# and for above 30, you can either in case of below or above 30 size

(20875.890628716712, 21124.109371283288)

In [17]:
## what is Confidence interval :

In [19]:
from scipy.stats import t , norm

In [20]:
# q : sample of 1500, whose avg sal = 45000 and sample std devaiton = 5000

In [21]:
stats.t.interval(0.95,1499,45000,5000/1500**0.5)  # there is a 95% chance that population parameter will fall between these two intervals

(44746.765266556366, 45253.234733443634)

In [22]:
spl  = 45253.2 - 44746.7  # span

In [23]:
# lets take a different sample size of 20000

In [24]:
stats.t.interval(0.95,19999,45000,5000/20000**0.5)

(44930.700614700625, 45069.299385299375)

In [25]:
sp2  = 45069.2 - 44930.7

In [ ]:
# As the sample size increases ( keeping all factors same) , the span of the interval came down.

In [26]:
# Now lets increase confidence interval to 99 % by keeping sample size and all factors same

In [30]:
stats.t.interval(0.999,1499,45000,5000/1500**0.5)

(44574.355361608075, 45425.64463839193)

In [32]:
sp3 = 45425.6 - 44574.3
sp3

851.2999999999956

In [ ]:
# When the confidence level increases ( keeping all factors same), span of interval also increases.In other words, 
# if all the other factors remains constant, then the span of the interval is directly propotional to CI
# If on increasing the CI, you dont want the span to increase then you should increase the sample size

In [33]:
# Now lets change standard deviation to 50 by keeping sample size and all factors same

In [34]:
stats.t.interval(0.95,1499,45000,50/1500**0.5)

(44997.46765266556, 45002.53234733444)

In [35]:
sp4 = 45002.53 - 44997.46
sp4

5.069999999999709

In [36]:
# As the standard deviation decreases, the value of the spann also decreases. Keeping all the other factors constant,
# THE SPAN OF THE INTERVAL IS DIRECTLY PROPORTIONAL TO THE STANDARD DEVIATION
# As the variation in the data increases, then for mainiting the same span, a bigger sample size is required

In [ ]:
# So, 4 paramters are : 1. Sample size 2. confidence level 3. value of standard deviation 4.Span of the interval
# So, sample size is what you have to decide that is you want to calculate

In [38]:
# N = z^2 * sigma ^2 / d ^2  
# where , z values corresponds to a particluar CI, as CI increases z also increases
# sigma = standard deviation 
# MOE = span / 2 like for a 20 span , MOE would be +- 10

In [39]:
stats.norm.ppf(0.025)  # this is the value of z correcponding to A
# This is the value of z for 95 per CI , 5% error and then divide 5 % equally on both side

-1.9599639845400545

In [41]:
stats.norm.ppf(0.975) # this is the value of z correcponding to B where A- B are intervals

1.959963984540054

In [43]:
# for t distribution

stats.t.ppf(0.025,1499)

-1.9615478106169353

In [1]:
##################################### 7th Feb 2021 ############################3

In [3]:
x = [5,7,8,9,3,4,12,6,9,14,7,8,5,9,4,15]

In [4]:
import scipy

In [6]:
from scipy import stats
import numpy as np

In [7]:
np.mean(x)

7.8125

In [27]:
sd = np.std(x,ddof =1)  # ddof = 1 , when we calculate sample standard deviation

In [9]:
stats.t.interval(0.95,len(x)-1,7.8125,3.506/(len(x)**0.5))

(5.9442844733172535, 9.680715526682746)

In [11]:
t_crit = stats.t.ppf(0.025,len(x)-1)
t_crit

-2.131449545559323

In [16]:
# lower level of interval

7.8125 + t_crit*3.506/(len(x)**0.5)

5.9442844733172535

In [15]:
# upper level of interval

7.8125 - t_crit*3.506/(len(x)**0.5)

9.680715526682746

In [18]:
## now for normal distribution

z_crit = stats.norm.ppf(0.025)
z_crit

-1.9599639845400545

In [19]:
# lower level of interval
7.8125 + z_crit*3.506/(len(x)**0.5)

6.094591567550642

In [20]:
# upper level of interval
7.8125 - z_crit*3.506/(len(x)**0.5)

9.530408432449358

In [21]:
## when std dev is known to you , interval estimate for population parameter is : 

from scipy.stats import chi2

In [22]:
val1 = scipy.stats.chi2.ppf(0.025,15)

In [23]:
val1

6.262137795043253

In [24]:
val2 = scipy.stats.chi2.ppf(0.975,15)

In [25]:
val2

27.488392863442975

In [30]:
lower_estimate = (15/val2)**0.5*sd
lower_estimate

2.5902992443895303

In [31]:
upper_estimate = (15/val1)**0.5*sd
upper_estimate

5.42704351093286

In [32]:
## For discrete data

from scipy.stats import rv_discrete

In [33]:
scipy.stats.poisson.interval(0.95,15)  # for a sample size of 15, the count in your population will fall in between 8 & 23

(8.0, 23.0)

In [35]:
## now what is the feedback of the people about the budget 

n = 200

y = 105 # so, lets say 105 ppl liked the budget

p = y/n

p

0.525

In [36]:
sd_1 = (p*(1-p))**0.5

In [37]:
sd_1

0.4993746088859545

In [40]:
lower_est_p = p - 1.96*sd_1/(n**0.5)
lower_est_p

0.4557902102300549

In [42]:
Upper_est_p = p + 1.96*sd_1/(n**0.5)
Upper_est_p

0.5942097897699451

In [44]:
# An interval of 0.455 - 0.594 means the current proportion of people who liked the budget is 0.525 thats why I am 95 percent
# sure that if i talk to whole population then proprtion of people who liked the budget will fall between 0.455 - 0.594

In [45]:
##########3 hypothesis testing ########
## 1. first set of tools for continuous data
## 2. second set of tools for discrete data

In [ ]:
## steps involved in hypothesis testing:

# 1. establish the null and the alternative hypothesis
# 2. establish the confidence level(default 95%) and the level of significance = (100-95 ~ 5%,0.05) for the calculation
# 3. Choose the approprriate test 
# 4. Use the assosiated functions to calculate the test statistic and p-value
# 5. Compare the p-value against the level of significance
# if the p-value is found to be less than 0.05(or level of signifance), then we reject the null hypothesis.and if the p-value is
# more than 0.05 , then we will not reject the null hypothesis
## NOTE : not rejecting doesnot mean we will accept the hypotheis

In [4]:
# null hypothesis is made in such a way that if it is found to be true , then we dont need to take any action or decision , we can contiue the process
# Action will be taken the claim is false and in this case we can reject the null hypothesis

In [1]:
marks = [23,34,45,56,55,45,44,48,39,78,22,2,76,66,88,88,98,99,54,51,28,29,25,26,25,12,22,67,89]

In [9]:
import numpy as np

In [10]:
np.mean(marks)

49.44827586206897

In [5]:
len(marks)

29

In [6]:
# 1 sample z test and 1 sample t test : purpose : Compare the sample mean against the claim value to establish whther the
# difference between them is statistically significant or not

# The z test is used when sample size is above 30 and woring with a population std deviation, while t-test is used for sample size of
# less than 30

In [2]:
import statsmodels

In [3]:
from statsmodels import stats

In [4]:
from statsmodels.stats import weightstats

In [5]:
# null hypotheis : sudeep claim is that the min marks that student will get is 70 

## Null hypo <Ho> : m>=70 and Alt hypo <H1> : m<70

In [22]:
np.mean(marks)  # sample statistics

49.44827586206897

In [7]:
## when the error is on the left side of the mean, left tailed test

In [8]:
res = statsmodels.stats.weightstats.ztest(marks, value = 70, alternative = 'smaller')

In [15]:
res[0]  # this is the test statistics

-4.095125081912001

In [16]:
res[1]  # this is the p-value

2.1097026187762382e-05

In [17]:
# since p- value is less than 0.05 , so we REJECT the null hypothesis

In [18]:
### other case - right tail test

In [ ]:
### null hypo m<= 40 , alt hypo > 40 : this is a right rail test beacuse error is on right side

In [11]:
res = statsmodels.stats.weightstats.ztest(marks, value = 40, alternative = 'larger')

In [12]:
res

(1.8826581752414242, 0.029873353486046514)

In [ ]:
# since p- value is less than 0.05 , so we REJECT the null hypothesis and the data doesnt support the claim and vice- versa

In [ ]:
##################### Feb 10th 2021################################ Type-I and Type-II error

In [ ]:
## Type- I error : This error is commited , when we reject a null hypothesis, when It is actually true
## Type - II error : This error is commited , when we do not reject a null hypothesis, when It is actually false

In [ ]:
# p - value gives you the probablity of comminting the type I error and the level of significance of 0.5 is the max allowed prob of making an error

In [ ]:
##### t-distribution

In [13]:
import scipy

In [15]:
from scipy import stats
from scipy.stats import t

In [16]:
len(marks)

29

In [17]:
df = 29-1

In [19]:
scipy.stats.t.cdf(1.88,28)  # error on left tail or side

0.9647249947260584

In [20]:
scipy.stats.t.sf(1.88,28)  # error on right tail or side

0.03527500527394164

In [21]:
### when the error is on both the side #### two tail test

In [23]:
# Ho,avg = 49 and Ha, avg not equal to 49

In [24]:
statsmodels.stats.weightstats.ztest(marks, value = 49, alternative = 'two-sided')

(0.0893231980953965, 0.9288250583425739)

In [ ]:
# since p -value is greater than 0,05, then we can not reject the null hypothesis

In [ ]:
#####  11th feb 2021 #################

In [5]:
import os
import pandas as pd
os.chdir(r'C:\Users\palak\Dropbox\My PC (LAPTOP-MV16FDS6)\Downloads')

In [6]:
df = pd.read_excel('data.xlsx', sheet_name = '2SampleT')

In [7]:
df

    SampleA  SampleB
0        21       30
1        37       20
2        23       38
3        23       37
4        35       37
5        18       24
6        35       22
7        26       30
8        20       12
9        34       18
10       22       18
11       32       13
12       30       20
13       14       13
14       32       24
15       39       24
16       20       34
17       15       11
18       32       38
19       35       38
20       27       34
21       14       29
22       17       18
23       25       11
24       11       13
25       30       26
26       34       37
27       28       22
28       10       14
29       29       22
30       16       34
31       34       19
32       28       23
33       29       37
34       14       21
35       16       24
36       23       29
37       24       31
38       17       35
39       15       29

In [9]:
list1 = df['SampleA']
list2 = df['SampleB']

In [10]:
import statsmodels

In [11]:
from statsmodels import stats

In [12]:
from statsmodels.stats import weightstats

In [13]:
## 2 sample test : the difference of the averages of the 2 samples need to compare against a claim value

In [14]:
import numpy as np

In [15]:
np.mean(list1)

24.6

In [16]:
np.mean(list2)

25.225

In [17]:
## Ho avg(list2) - avg(list1) >= 1.5 , Ha avg(list2)- avg(list1) <1.5

In [18]:
statsmodels.stats.weightstats.ztest(list2, list1, value= 1.5, alternative = 'smaller')

(-0.4661484807032591, 0.32055461166223886)

In [ ]:
########## Anova calculation: to dela with multiple samples ( more than 2 samples) ########

In [ ]:
# one-way anova : one factor which is predictor (categorical), other will be a response variable (continuos) 
# one- way anova bcs there is only one predictor

In [ ]:
# here Null hypothesis is : avg of all the pairs of sample can be considered equal

In [19]:
df = pd.read_excel('data.xlsx', sheet_name = 'OneWayANOVA')

In [20]:
df

   SampleID  Measure
0         A        8
1         A        6
2         A        5
3         A        9
4         A        4
5         B        5
6         B        7
7         B        6
8         B        3
9         B        8
10        C       12
11        C       10
12        C       13
13        C       12
14        C       13

In [24]:
## for anova these libraries are required 
import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp

In [26]:
mod1 = ols('Measure~ SampleID', data = df).fit()

In [28]:
tbl = sm.stats.anova_lm(mod1)

In [30]:
tbl

            df      sum_sq    mean_sq          F    PR(>F)
SampleID   2.0  116.933333  58.466667  18.463158  0.000218
Residual  12.0   38.000000   3.166667        NaN       NaN

In [31]:
## last PR>F is the p-value which is 0.000218 < 0.05 , thats why we will reject null hypothesis. and thus all pairs of mean can not
# be considered equal

In [ ]:
### 2-way anova : two factors will influence your response

In [32]:
df = pd.read_excel('data.xlsx', sheet_name = 'TwoWayANOVA')

In [33]:
df

   City Trainer  Marks
0     A       M     67
1     A       M     89
2     A       M     78
3     A       F     56
4     A       F     62
5     A       F     65
6     B       M     79
7     B       M     75
8     B       M     68
9     B       F     57
10    B       F     68
11    B       F     52
12    C       M     76
13    C       M     59
14    C       M     87
15    C       F     48
16    C       F     53
17    C       F     61

In [ ]:
## first null hypothesis : The marks of the student doesnt depend on city 
## Second null hypothesis : The marks of the student doesnt depend on trainer

In [34]:
mod1 = ols('Marks ~ City + Trainer', data = df).fit()

In [35]:
tb1 = sm.stats.anova_lm(mod1)

In [36]:
tb1

            df  sum_sq      mean_sq          F    PR(>F)
City       2.0    91.0    45.500000   0.648016  0.538077
Trainer    1.0  1352.0  1352.000000  19.255341  0.000619
Residual  14.0   983.0    70.214286        NaN       NaN